h1 {
  color: red;
}
/*
#cityInput {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
}
*/

#footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}